[submodule "services/webui"]
	path = services/webui
	url = https://github.com/HashMatrixData/hashmatrix-webui.git
[submodule "services/gateway"]
	path = services/gateway
	url = https://github.com/HashMatrixData/hashmatrix-gateway.git
[submodule "services/governance"]
	path = services/governance
	url = https://github.com/HashMatrixData/hashmatrix-governance.git
[submodule "services/security"]
	path = services/security
	url = https://github.com/HashMatrixData/hashmatrix-security.git
[submodule "services/privacy"]
	path = services/privacy
	url = https://github.com/HashMatrixData/hashmatrix-privacy.git
[submodule "services/data-foundation"]
	path = services/data-foundation
	url = https://github.com/HashMatrixData/hashmatrix-data-foundation.git
[submodule "services/platform-common"]
	path = services/platform-common
	url = https://github.com/HashMatrixData/hashmatrix-platform-common.git
[submodule "services/control-plane"]
	path = services/control-plane
	url = https://github.com/HashMatrixData/hashmatrix-control-plane.git
[submodule "prototype"]
	path = prototype
	url = git@github.com:HashMatrixData/hashmatrix-prototype.git
